footer {
	flex-shrink: 0;
	
	.footer__content {
		display: flex;
		justify-content: space-between;
		width: 80%;
		margin: 0 auto;

		@media (max-width: 768px)
		{
			flex-direction: column;
			span {
				text-align: center;
			}
		}
	}
}